#form {
  background-color: rgb(22, 22, 22);
  padding-bottom: 80px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  gap: 100px;
  margin: 0px auto;
  /* border: 1px solid pink; */
}

.form-subtitulo {
  font-size: 10rem;
  word-break: break-all;
  max-width: 4ch;
  color: rgb(0, 0, 0);
  margin-top: 40px;
}

.form-descricao {
  margin-top: 70px;
  font-size: 1.5rem;
  margin-bottom: 50px;
  color: white;
}
.card {
  display: flex;
  flex-flow: row wrap;
}
.formacao {
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-right: 30px;
  margin-bottom: 60px;
  color: rgb(218, 218, 218);
  position: relative;
}

.ensino {
  margin-bottom: 10px;
}
.ensino::before {
  content: "";
  width: 9px;
  height: 14px;
  position: absolute;
  left: -8px;
  background-image: linear-gradient(180deg, green, rgb(89, 248, 89));
}

.curso {
  margin-bottom: 40px;
  flex: 1;
  font-weight: 500;
  color: white;
}
.intensivo {
  margin-bottom: 40px;
  position: relative;
}
.intensivo h4::before {
  background: url(../img/cursos.svg);
}
.intensivo h4::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
  top: -3px;
}
.intensivo-nome {
  color: rgb(218, 218, 218);
  margin-bottom: 10px;
}

.intensivo-cursos li {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  list-style-type: none;
  margin-bottom: 5px;
  color: gray;
}

.intensivo-cursos span {
  color: black;
}

.idiomas-cursos li {
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
  list-style-type: none;
  margin-bottom: 5px;
  color: gray;
}

.idiomas-cursos span {
  color: black;
}

@media only screen and (max-width: 750px) {
  .form-subtitulo {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 700px) {
  .form {
    grid-template-columns: 1fr;
    grid-template-rows: 0px;
    margin: 0px 25px;
  }
  .form-subtitulo {
    grid-row: 1;
    font-size: 6rem;
    max-width: 100%;
    text-align: center;
    color: rgb(203, 203, 203);
  }
  .intensivo-nome::before {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .form-subtitulo {
    grid-row: 1;
    font-size: 5rem;
    max-width: 100%;
    text-align: center;
    color: rgb(203, 203, 203);
  }
}
@media only screen and (max-width: 470px) {
  .form-subtitulo {
    grid-row: 1;
    font-size: 3rem;
    max-width: 100%;
    text-align: center;
    color: rgb(203, 203, 203);
  }
}
