#introducao {
  height: 40rem;
  /* background-color: gray; */
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  /* border: 2px solid pink; */
}

.img {
  grid-column: 1;
  /* border: 1px solid pink; */
  align-self: center;
  justify-self: center;
}

.img img {
  width: 25rem;
}

.detalhe {
  position: absolute;
  top: -40px;
  left: -50px;
  z-index: -1;
}

.texto-principal {
  grid-column: 2;
  place-self: center start;
  /* border: 1px solid green; */
  position: relative;
}

.texto-principal h2 {
  font-size: 4rem;
  margin-bottom: 0.25rem;
}

.texto-principal p {
  font-size: 1.5rem;
}

@media only screen and (max-width: 950px) {
  #introducao {
    gap: 50px;
  }
  .detalhe {
    width: 50px;
    left: -20px;
    top: -7px;
  }
  .texto-principal h2 {
    font-size: 3.25rem;
  }
}

@media only screen and (max-width: 750px) {
  .img img {
    width: 17rem;
  }
}

@media only screen and (max-width: 600px) {
  #introducao {
    gap: 25px;
  }
  .img img {
    width: 12rem;
  }
  .texto-principal h2 {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 470px) {
  #introducao {
    grid-template-columns: 0;
    justify-content: center;
    gap: 0px;
    padding: 0;
    height: auto;
    margin: 98px 25px;
  }
  #introducao img {
    display: none;
  }
  .texto-principal h2 {
    font-size: 3rem;
  }
}
