nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  /* width: 100%; */
  /* border: 2px solid pink; */
  margin: 0px 4rem;
}

.titulo {
  font-size: 2rem;
  /* margin: 0px 4rem; */
}

.navbar li {
  display: inline-block;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  /* background-color: gray; */
  margin: 0px 0.25rem;
}

@media only screen and (max-width: 950px) {
  .navbar li {
    background-color: rgb(236, 236, 236);
    padding: 10px 5px;
  }
}

@media only screen and (max-width: 750px) {
  nav {
    margin-top: 4rem;
    flex-direction: column;
  }
  .navbar li {
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 700px) {
  .navbar li {
    padding: 4px;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    margin: 0px;
    justify-content: center;
  }
  .titulo{
    padding: 20px;
  }
  .navbar li {
    padding: 6px;
  }
  .navbar a {
    padding: 0px;
  }
}
