.exp {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* height: 40rem; */
  /* background: gray; */
  max-width: 1200px;
  gap: 100px;
  margin: 0 auto;
  padding: 90px 20px;
  /* border: 1px solid pink; */
}

.subtitulo {
  font-size: 10rem;
  word-break: break-all;
  max-width: 4ch;
  color: rgb(226, 226, 226);
}

.exp-2 {
  padding: 40px 20px;
}

.texto-exp {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.empresas {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  position: relative;
  background-color: rgb(241, 241, 241);
  padding: 20px;
  margin-bottom: 20px;
}

.empresas::before {
  content: "";
  width: 9px;
  height: 14px;
  position: absolute;
  top: 22px;
  left: -10px;
  background-image: linear-gradient(180deg, green, rgb(89, 248, 89));
}

.empresas-ano {
  position: absolute;
  top: 22px;
  left: -54px;
}

.empresas-titulo {
  grid-column: 1;
}

.empresas-descricao {
  grid-column: 1;
}

.atributos {
  grid-column: 2;
  grid-row: 1;
  font-weight: 800;
}

.empresas-atributos {
  list-style-type: none;
  grid-column: 2;
  display: flex;
  flex-flow: row wrap;
  border-radius: 4px;
}

.empresas-atributos span {
  display: block;
  padding: 5px;
  background: rgb(223, 213, 213);
  margin: 0 4px;
  font-size: 0.9rem;
  border-radius: 2px;
}

@media only screen and (max-width: 750px) {
  .subtitulo {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 700px) {
  .exp {
    grid-template-columns: 1fr;
    padding: 0;
    grid-template-rows: 0px;
  }
  .subtitulo {
    grid-row: 1;
    font-size: 6rem;
    max-width: 100%;
    text-align: center;
    color: rgb(31, 31, 31);
  }
}

@media only screen and (max-width: 600px){
  .subtitulo {
    grid-row: 1;
    font-size: 5rem;
    max-width: 100%;
    text-align: center;
    color: rgb(31, 31, 31);
  }
}

@media only screen and (max-width: 470px) {
  .subtitulo {
    grid-row: 1;
    font-size: 3rem;
    max-width: 100%;
    text-align: center;
    color: rgb(31, 31, 31);
  }
}